.profile-container {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 10%;
  min-height: fit-content;
}
.profile-parent {
  display: flex;
  align-items: center;
  color: aliceblue;
}
.profile-details-name {
  font-size: 24px;
  font-family: "Poppins SemiBold";
}
.profile-details-role {
  display: flex;
  flex-direction: column;
  margin: 14px 0 24px 0;
}
.profile-details-role h1 {
  font-size: 40px;
  font-family: cursive;
}
.primary-text {
  font-size: 24px;
  color: (--white);
}
.primary-text2 {
  font-style: italic;
  transition: all 2s ease-in-out;
}
.highlighted-text {
  color: var(--dark-orange);
}

.profile-role-tagline {
  font-size: 19px;
  margin: 5px 0 0 0;
  font-family: "Poppins Light";
}

.profile-options .highlighted-btn {
  margin: 0 0 0 28px;
}
.profile-options .highlighted-btn:hover {
  margin: 0 0 0 28px;
  background-color: cornsilk;
  color: #111;
}
.btn {
  font-size: 16px;
}
.profile-picture {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 1px 0 0 var(--white);
  border-radius: 50%;
  height: 400px;
  width: 400px;
  margin: 0 0 0 100px;
}
.profile-picture-background {
  height: 92%;
  width: 92%;
  background-image: url(../../../assets//Home/profilephoto.png);
  background-size: cover;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
}
.profile-picture-background:hover {
  transform: scale(1.07);
  transition: all 2s ease-out;
}
.colz .colz-icon {
  color: white;
  padding: 8px;
  padding-left: 0px;
}
.colz .colz-icon i:hover {
  transform: scale(2);
  transition: all 1s;
}
.colz-icon i {
  color: white;
  margin: 1rem;
  transform: scale(1.8);
}
.highlighted-text2:hover {
  cursor: pointer;
  transition: all 1s;
  display: inline-block;
  transform: rotate(-20deg) scale(1.3);
}

.h1text {
  text-align: left;
  margin-left: 50px;
}
