.About-continer {
  width: 80%;
  height: 90vh;
  margin: 15rem auto;
}
.about-hero {
  text-align: center;
}
.about {
  font-weight: 800;
  cursor: pointer;
  letter-spacing: 2px;
}
.about:hover {
  color: var(--orange);
  transition: all 1s;
}
.about-text {
  font-size: 18px;
  font-weight: 500;
  margin: 1rem 0;
}
.hr {
  width: 15%;
  height: 2px;
  background-color: #111;
  border-radius: 2rem;
  margin: 2rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hr-child {
  width: 40%;
  height: 1rem;
  background-color: var(--orange);
  border-radius: 2rem;
}
/* about-hero finished */
.about-main {
  width: 70%;
  height: 540px;
  margin: 5rem auto;
  box-shadow: 0px 3px 5px 3px rgba(0, 0, 0, 0.3);
  display: flex;
}
.main-img {
  width: 50%;
  height: 100%;
  background-color: red;
}

.img-main {
  width: 100%;
  height: 100%;
}
.main-info {
  width: 50%;
}
.main-info-p {
  width: 90%;

  font-size: 14px;
  margin: 2rem 1rem 1rem;
  text-align-last: center;
}
.main-info-p:hover {
  color: var(--orange);
  transition: all 0.5s;
  transform: scale(1.02);
}
.information-li {
  display: flex;
  align-items: center;
  margin: 10px;
}
.txt-here {
  margin-top: 3rem;
  margin: 3rem 1rem 1rem;
}
.sircle {
  width: 20px;
  height: 20px;
  background-color: var(--orange);
  margin: 5px;
  border-radius: 50%;
  margin-left: -30px;
}
.marginleft {
  margin-left: 20px;
}
